@model IEnumerable<ViewModels.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<p>
    <button class="btn btn-primary" id="btnShowBookModal" type="button">
        Create New
    </button>
</p>
@{
    Html.RenderPartial("_CreateEdit");
}
<table class="table" id="booksList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @*<input type="file" name="upload" id="uploadFile" /><br />
                    <button id="submit">Save</button>*@
                <div class="title-upload">
                    <label for="book-title-input-@item.Id">
                        <img width="120" height="80" src="@item.ImageUrl">
                    </label>
                    <input class="book-title-input" id="book-title-input-@item.Id" type="file" accept=".png, .jpg, .jpeg" />
                    @*<div>
                        <button id="saveImageTitle">Save</button>
                        <button id="clearImageTitle">Remove</button>
                    </div>*@
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var author in item.Authors)
                {
                    @Html.ActionLink(
                        linkText: $"{author.FirstName} {author.LastName}",
                        actionName: "Edit",
                        controllerName: "Author",
                        routeValues: new
                             {
                            id = author.Id,
                            firstName = author.FirstName,
                            lastName = author.LastName
                        },
                        htmlAttributes: null
                    )
                    <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageNumber)
            </td>
            <td>
                <a class="edit-book" href="#">Edit</a><br />
                <a class="delete-book" href="#">Delete</a>
            </td>
        </tr>
    }

</table>